---
title: A Page for You
layout: base.njk
---

<main>
    <h1>Hello</h1>
    <p>Hello World</p>
    <p>I like: </p>
    <ul>
        <li>
            Coding
        </li>
        <li>
            Singing
        </li>
        <li>
            Youtube Videos
        </li>

        <h3>Cool Vibe: </h3>
        <p class="vibe">You are AWESOME!!!</p>
    </ul>
</main>
<script src="vibe.js"></script>